<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/pageTasks.css">
    <link rel="stylesheet" href="/css/addEdit.css">
    <title>Tarefas</title>
</head>

<body>

    <nav>

        <ul class="logo">
            <li class="flex">
                <img src="/images/logo.png" alt="" height="20px">
                
                <a class="flex" href="/tasks">To do List</a>
            </li>
        </ul>

        <ul class="botoes">
            <li><a href="/tasks/add">Criar tarefa</a></li>
            <li><a href="/tasks">Ver todas</a></li>

        </ul>

    </nav>



    {{{body}}}

</body>

</html>