<br>
<div class="pageAddEdit">
    <br>
    <h1 class="center">Criar Tarefa</h1>

    <br>

    <form class="addEditTask" action="" method="POST">
        <label for="title">TÍTULO </label>
        <input type="text" name="title" placeholder="Título">
        <br>
        <label for="description">DESCRIÇÃO </label>
        <textarea name="description" placeholder="Descreva"></textarea>
        <br>
        <button class="save" type="submit">SALVAR TAREFA</button>
    </form>
    <br>
</div>